/* Import the contents of the external CSS file "nav_style.css" */
@import "nav_style.css";

/* Start a CSS rule for the class "center-content" */
.center-content {
  /* Enable the use of the Flexbox layout for the element's content */
  display: flex;

  /* Align the flex items horizontally at the center of the element */
  justify-content: center;
}

/* Start a CSS rule for the class "dogdet" */
.dogdet {
  /* Enable the use of the Flexbox layout for the element's content */
  display: flex;

  /* Align the flex items horizontally at the center of the element */
  justify-content: center;

  /* Align the flex items vertically at the center of the element */
  align-items: center;

  /* Set the direction of the Flexbox layout to be a column */
  flex-direction: column;
}

/* Start a CSS rule for the class "select-narrow" */
.select-narrow {
  /* Set the width of the element to 70% */
  width: 70%;
}

/* Start a CSS rule for the class "form-group-centered" */
.form-group-centered {
  /* Enable the use of the Flexbox layout for the element's content */
  display: flex;

  /* Align the flex items horizontally at the center of the element */
  justify-content: center;
}
